@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: rgba(225, 238, 237, 0.5);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
}

.image {
    text-align: center;
    margin: auto;
    margin: 20px 0px;
}

.image img {
    text-align: center;
    border-radius: 6px;
    width: 190px;
    box-shadow: 0 0 50px rgba(167, 143, 10, 1);
}

.header {
    margin: 20px 0px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.information {
    margin: 20px 200px;
}

.information p {
    color: rgb(25, 17, 143);
}

.information-links {
    margin: 20px 200px;
    text-align: center;
    padding: 10px;
}

.information-links {
    background-color: rgba(173, 113, 230, 0.2);
    border: 2px solid orange;
    border-radius: 10px;
}

.information-links h3 {
    padding-bottom: 10px;
}

.information-links a {
    /* links */
    color: rgba(13, 145, 13, 0.63);
    font-weight: 800;
    text-decoration: none;
    padding: 0px 5px;
}

.information-hobby {
    color: rgb(226, 130, 19);
    background-color: rgba(184, 176, 76, 0.2);
    border-radius: 10px;
    border: 2px solid black;
}

.information-hobby {
    margin: 20px 200px;
    padding: 15px 50px;
}

/* MARKER for LISTS */
.information-hobby ol li::marker {
    color: #000;
    font-weight: bold;
    padding: 0 5px;
}

.information-hobby ol li {
    padding: 5px 4px;
}

.information-exp table thead {
    font-weight: bold;
}

.information-exp table tbody {
    font-style: italic;
    color: rgb(121, 4, 167);
}

.information-exp {
    margin: 20px 200px;
    text-align: center;
}

.information-exp table {
    display: inline-block;
    padding: 5px;
    margin: 20px 20px;
}

.information-exp table tr td {
    border-bottom: 2px solid #000;
}

.information-exp {
    background-color: aqua;
    border: 3px dashed yellowgreen;
    border-radius: 15px;
}

.footer {
    margin: 20px 200px;
}

/* СТИЛЕЗУЕМ ССЫЛКИ И КНОПКИ */
a {
    transition: all .2s;
    letter-spacing: 1.5px;
}

.middle {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

a:hover {
    background-color: #000;
    color: rgb(253, 152, 0);
    border-radius: 8px;
}

a:active {
    font-style: italic;
    color: yellow;
}

/* a:visited {
    color: blueviolet;
} */

.buttonDIV {
    text-align: center;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    transition: all .2s;
}

.btn:hover {
    box-shadow: 0 0 10px rgb(2, 252, 15);
    padding: 10px 300px;
    color: yellowgreen;
    letter-spacing: 4px;
    word-spacing: 8px;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0 0 10px rgb(202, 2, 252);
    padding: 10px 300px;
    color: rgb(255, 0, 221);
    letter-spacing: 4px;
    word-spacing: 8px;
    cursor: pointer;
}



/* Tables */
.table tr:nth-child(even) {
    color: rgb(189, 58, 26);
    background-color: rgba(30, 80, 218, 0.3);
}

.table tr:nth-child(odd) {
    background-color: rgba(152, 218, 30, 0.3);
}

.table thead {
    background-color: #000;
    color: #fff;
}

.table tr td:hover {
    background-color: rgb(5, 5, 5);
    color: rgb(208, 211, 22);
    border-radius: 8px;
    font-weight: bold;
}

.table tr td {
    padding: 0 5px;
}


/* footer */

.footer h3 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
    letter-spacing: 3px;
}

.footer {
    background-color: rgba(173, 113, 230, 0.2);
    padding: 20px 20px;
    border-radius: 20px;
    border: 1px solid #000;
}


.line2 {
    display: inline;
    width: 50%;
    margin-right: 0;
}

/* !!! lebel по умолчанию inline елемент, поэтому чтобы он был сверху меняем на block */
.form-row .form-group {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    width: calc(50% - 22px)
}

.form-group label {
    display: block;
    font-size: 18px;
    color: rgb(51, 8, 38);
}

.form-group input,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(204, 226, 9);
    color: #000;
    padding: 15px 10px;
    outline: none;
    font-family: inherit;
}


@media (max-width: 735px) {

    .information-links a {
        border: none;
        margin-bottom: 5px;
        display: block;
    }

}

@media (max-width: 791px) {

    .information-exp table {
      padding: 0;
      margin: 20px 3px;
    }

    .information-exp table tr td {
        font-size: 0.8rem;
    }

}